* {
  margin: 0;
  padding: 0;
}

.app {
  padding: 54px;
  display: inline-block;
  position: relative;
}

.boxWrap {
  padding: 1px;
  border: 1px solid #48aae6;
}

.box-row {
  display: flex;
}

.box,
.button {
  width: 50px;
  height: 50px;
  background-color: #48aae6;
  border: 1px solid #fff;
}

.button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  border: 2px solid #fff;
  box-sizing: content-box;
  background-color: #f3a500;
  transition: 0.2s;
}

.button:hover {
  cursor: pointer;
  background-color: #f6c052;
}

.minus:after {
  content: '\2212'
}

.minus {
  display: none;
  background-color: #b20000;
}

.minus:hover {
  background-color: #ca4c49;
}

.minus-col {
  top: 0;
  left: 55px;
}

.minus-row {
  top: 55px;
  left: 0;
}

.plus-col {
  top: 55px;
  right: 0;
}

.plus-row {
  bottom: 0;
  left: 55px;
}