* {
   margin: 0;
   padding: 0;
}
.app {
   padding: 1px;
   margin: 62px;
   border: 1px solid #48aae6;
   display: inline-block;
   position: relative;
}
.box-row {
   display: flex;
}
.box, .button {
   width: 50px;
   height: 50px;
   background-color: #48aae6;
   border: 1px solid white;
}
.button {
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-size: 18px;
   font-weight: bold;
   /* text-shadow: -0.5px 1px 1px white; */
   border: 2px solid white;
   box-sizing: content-box;
   background-color: #f3a500;
   transition: 0.2s;
}
.button:hover {
   cursor: pointer;
   background-color: #f6c052;
}
.minus:after {
   content: '\2212'
}
.minus {
   display: none;
   background-color: #b20000;
}
.minus:hover {
   background-color: #ca4c49;
}
.minus-col {
   top: -55px;
   left: 0;
}
.minus-row {
   top: 0;
   left: -55px;
}
.plus-col {
   top: 0;
   right: -55px;
}
.plus-row {
   bottom: -55px;
   left: 0;
}